/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */

/* makes the box model easier by including all of them in the width
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */

.row::after {
    content:"";
    display: table;
    clear:both;
} 
/* on mobile, all col- elements occupy 1 full row, so 92%*/
/* these properties cascade upwards with regards to screen size */
[class*='col-'] {
	margin-right: 4%;
	margin-left: 4%;
	width: 92%;
	min-height: 1px;
}


.col-1, .col-1-4 {
	background-color: #ffc;
}
.col-2 {
	background-color: #fcf;
}
.col-3 {
	background-color: #cff;
}
.col-4 {
	background-color: #ccf;
}


article {
	float: left;
}


/* Mobile Landscape or Tablet Screen Sizes */
@media only screen and (min-width: 480px)  {
	[class*='col-'] {
		margin-right: 0;
	}

	/* all col-1 are now 2 cells wide */
	.col-1 {
		width: 44%;
	}

	/* col-1-4 aka col 1 cell wide becomes 4 cells wide */
	.col-1-4 {
		width: 92%;
	}
	
}
/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
	

	/* at desktop screen size, these classes are just one cell wide */
	.col-1, .col-1-4 {
		width: 20%;
	}

	.col-2 {
		width: 44%;
	}

	.col-3 {
		width: 68%;
		background: #cff;
	}

	/* can be deleted, since it inherits the "mobile" 92% width */
	.col-4 {
	}
}
